[submodule ".registry"]
	path = .registry
	url = https://github.com/australianantarcticdivision/universe
	shallow = true
	branch = HEAD
[submodule "palr"]
	path = palr
	url = https://github.com/AustralianAntarcticDivision/palr
	shallow = true
	registered = true
[submodule "rbgm"]
	path = rbgm
	url = https://github.com/AustralianAntarcticDivision/rbgm
	shallow = true
	registered = false
