[submodule ".registry"]
	path = .registry
	url = https://github.com/australianantarcticdivision/australianantarcticdivision.r-universe.dev
	branch = HEAD
[submodule "palr"]
	path = palr
	url = https://github.com/AustralianAntarcticDivision/palr
